<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="assalaam.calculator.id.projectassalaam">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Splashscreen"
            android:noHistory="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WebSmk" />
        <activity android:name=".info" />
        <activity android:name=".Komponen" />
        <activity android:name=".BlokSilinder" />
        <activity android:name=".Piston" />
        <activity android:name=".RingPiston" />
        <activity android:name=".ConnectingRod" />
        <activity android:name=".Crankshaft" />
        <activity android:name=".Bearing" />
        <activity android:name=".Flywheel" />
        <activity android:name=".RockerArm" />
        <activity android:name=".Camshadt" />
        <activity android:name=".OilPan" />
        <activity android:name=".PistonPin" />
        <activity android:name=".TimingBelt" />
        <activity android:name=".CylinderHead" />
        <activity android:name=".MainActivity"></activity>
    </application>

</manifest>